spring-aqin/src/main/resources/META-INF/aqin.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.aqin.com/schema/aqin"
		xmlns:tns="http://www.aqin.com/schema/aqin"
		elementFormDefault="qualified">
	<element name="aqin">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
			<attribute name="address" type="string"/>
		</complexType>
	</element>

</schema>
